body {
    font-family: "Montserrat Alternates";
}

h1 {
    color: darkgoldenrod;
    text-align: center;
}

#new_url {
    width: 25%;
}

#navbar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}