<!DOCTYPE html>
<html>
  <head>
    <link href="./style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section id="add_url">
      <form action="/bookmarks" method="post">
        <label for="new_url">Type in the URL: </label>
        <input type="text" id="new_url" name="new_url" required>
        <input type="submit" value="Save">
      </form>
    </section>
  </body>
</html>