<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Bookmark Manager</h1>
    </header>
    <main>
      <section class="nav_bar">
        <nav>
          <ul id="navbar_list">
            <li><a href="/add_bookmark">Add Bookmark</a></li>
          </ul>
        </nav>
      </section>
    </main>
  </body>
</html>